h3 {
    margin: 0;
    font-size: 1.35rem;
    font-family: "Iowan Old Style";
}

h4 { 
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
 }

.line {
    margin: .5rem 0;
    height: 2px;
    background: #2E2E2E;
}

#MainPlayer {
    color: #2E2E2E;
    height: 100vh;
    background: #ECE6D0;
    padding: 5%;
    padding-top: 3.5rem;
    text-align: center;
}

#TopFrame {
    width: 100%;
    display: flex;
    > div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        border: 2px solid #2E2E2E;
        min-height: 6vh;
    }
    .left {
        border-left: none;
    }
    .right {
        border-right: none;
    }

}

// Main Header (Adam Davis Jukebox)
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    .top, .bottom {
        h1, h2 { 
            font-size: 3.25rem;
            font-family: "Iowan Old Style";
            margin: 0;
        }
        h1 { font-weight: 700; }
        h2 { 
            font-style: italic;
            font-weight: 400;
            letter-spacing: 24px;
            line-height: .4em;
            transform: translateX(12px);
            margin-bottom: 1.5rem; //Sets PlistNav proper distance down
        }
    }
}

#PlaylistNav {
 display: flex;
 justify-content: space-between;
 align-items: center;
 button {
    background: transparent;
    border: none;
    cursor: pointer;
 }
}

#CoverArt {
    text-align: center;
    margin-bottom: .5rem;
}

#AllTracks {
    display: flex;
    flex-direction: column;
    button {
        font-weight: 700;
        font-size: 1rem;
        background: transparent;
        border: none;
        cursor: pointer;
    }
    .track {
        text-align: left;
        padding-bottom: .25rem;
        margin-bottom: .55rem;
        border-bottom: 1.5px solid black;
    }
}